/* styles/globals.css */
.quiz-page {
  display: grid;
  grid-template-areas:
    "header  header  header"
    "adL     main    adR"
    "footer  footer  footer";
  grid-template-columns: 150px minmax(300px,600px) 150px;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  min-height: 100vh;
}
.header { grid-area: header; }
.adL    { grid-area: adL;    }
.main   { 
  grid-area: main; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
.adR    { grid-area: adR;    }
.footer { grid-area: footer; }
